.input {
    justify-content: flex-end;
    align-items: center;
    height: 4em;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #000;
    color: #fff;
    outline: 1px solid #888;
    padding: 0.5em;
    display: flex;
}