.input {
    justify-content: flex-end;
    align-items: center;
    height: 4em;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #000;
    color: #fff;
    outline: 1px solid #888;
    padding: 0.5em;
    display: flex;
}

.previous {
    justify-content: flex-end;
    align-items: center;
    height: 1em;
    font-weight: bold;
    font-size: 1.4em;
    background-color: rgb(63, 63, 63);
    color: rgb(207, 207, 207);
    outline: 1px solid rgb(107, 107, 107);
    padding: 0.5em;
    display: flex;
}